@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    lofi --default,
    black --prefersdark;
}

@plugin "daisyui/theme" {
  name: "lofi";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --font-sans: Montserrat;
  --font-serif: Playfair;
}

@plugin "daisyui/theme" {
  name: "black";
  prefersdark: true;
  color-scheme: dark;
  --font-sans: Montserrat;
  --font-serif: Playfair;
}
