@import 'tailwindcss';

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "lofi";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-neutral: rgb(28, 124, 146);
  --color-neutral-content: rgb(243, 151, 68);
  --color-base-100: rgb(252, 250, 245);
}

@plugin "daisyui/theme" {
  name: "black";
  prefersdark: true;
  color-scheme: dark;
  --color-neutral: rgb(28, 124, 146);
  --color-neutral-content: rgb(243, 151, 68);
  --color-base-100: rgb(8, 30, 36);
}

@theme {
  --font-sans: Areal, Helvetica, Arial, sans-serif;
  --font-serif: TimesNewHuman, 'Times New Roman', serif;
}
