@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    lofi --default,
    black --prefersdark;
}

@plugin "daisyui/theme" {
  name: "lofi";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --font-sans: Areal;
  --font-serif: TimesNewHuman;
  --color-neutral: #3f6e80;
  --color-neutral-content: #f8c0aa;
}

@plugin "daisyui/theme" {
  name: "black";
  prefersdark: true;
  color-scheme: dark;
  --font-sans: Areal;
  --font-serif: TimesNewHuman;
  --color-neutral: #3f6e80;
  --color-neutral-content: #f8c0aa;
}
